html{
  font-size: 16px;
}

strong{
  font-weight: bold;
}

header{
  height: 4rem;
}

li{
  display: inline-block;
}

li:not(:last-child){
  margin-right: 1rem;
}

h3, h4, h5, h6{
  font-weight: bold;
}

#desktopHeader{
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
  justify-content: space-between;
}

#logo{
  display: flex;
  align-items: center;
}

#logo img{
  margin-right: .5rem;
}
.content{
  padding: 2rem 1.5rem;
  display: flex;
}

#banner{
  background-color: rgb(219, 219, 219);
}

.mediaContainer{
  width: 60%;
  padding: 1rem 1.5rem 0rem 0rem;
}

.mediaContainer img,
.mediaContainer video{
  width:100%;
}

.supportingContent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

#bannerInfo h3,
#courseInfo h3{
  padding-bottom: 2rem;
  font-size: 2rem;
}

#bannerInfo p{
  padding-bottom: 1.5rem;
}

#bannerInfo a{
  padding: .5rem 0rem;
  background-color: rgb(155,155,155);
  text-align: center;
  color: white;
}

.mediaContainer h4{
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.infoBlock{
  display: flex;
  align-items: center;
  padding: 1rem;
  transition: background-color 0.3s ease-in-out;
}

.infoBlock:hover{
  background-color: rgb(200,200,200);
}

.infoBlock img{
  width: 35%;
  margin-right: 1rem;
}

.infoBlock div h6,
.infoBlock div p{
  padding: .5rem 0rem;;
}

.infoBlock div h4{
  font-size: 1.25rem;
}

#courseInfo{
  background-color: rgb(245, 245, 245);
  padding: 2rem 3.5rem;
}

.title{
  font-weight: bold;
  font-size: 2rem;
  padding-bottom: 1rem;
  text-align: center;
}

.classContainer{
  display: flex;
  justify-content: space-between;
}

.class{
  width: 31%;
  padding: 1rem;
}

.class img{
  width: 100%;
}

.class div{
  background-color: white;
  padding: 0rem 1rem;
  height: 9.5rem;
}

.class div h6{
  font-size: 1.25rem;
}

.class div h6,
.class div p{
  padding: .5rem 0rem;
}

#thesis{
  padding-top: 2rem;
}

#thesisContent{
  justify-content: flex-start;
}

footer{
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  border-top: 1px solid rgb(200,200,200);
  color: rgb(200, 200, 200)
}
