body{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

a:link{
  color: seashell;
}

a:visited{
  color: seashell;
}

#header{
  display: flex;
  position: fixed;
  top: 0%;
  border-bottom: seashell solid 1px;
  height: 69px;
  width: 100%;
  z-index: 5;
  background-color: inherit;
}

#header img{
  height: 50px;
  padding: 9px 300px 10px 10px;
}

#header nav{
  width: 400px;
  display: flex;
  flex-shrink: 0;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  margin-right: 20px;
}

.contentContainer{
  margin-bottom: 60px;
}

#content{
  margin: 69px auto 0px auto;
  width: 1200px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
}

#mission{
  display: flex;
  height: 700px;
  width: 1200px;
  background-image: url("../images/img-mission-background.jpg");
  align-items: center;
  justify-content: center;
}

.title{
  margin: 0px auto;
  width: inherit;
  display: flex;
  flex-flow: column nowrap;
  flex-shrink: 0;
  background-color: black;
  text-align: center;
}

.title h2 , h4{
  margin: 10px 0;
}

#featured{
  display: flex;
  flex-flow: column nowrap;
  width: 1000px;
}

#gallery{
  margin-top: 20px;
  display: flex;
  width: inherit;
  flex-flow: row wrap;
  justify-content: center;
}

.galleryItem img{
  width: 300px;
  height: 200px;
  margin: 0 15px;
}

.galleryItem h4{
  text-align: center;
  margin: 10px 0px;
}
