html{
  font-size: 18px;
  font-family: Helvetica;
}

.siteContainer{
  width: 960px;
  margin: 0px auto;
}

#topBanner{
  background-image: url("../images/glasses-bg.png");
  background-size: cover;
  height: 30rem;
  width: 100%;
}

#topBanner > div{
  position: relative;
  top: 1rem;
}

header{
  background-color: cadetblue;
  width: 100%;
  display: flex;
  align-items: center;
}

header img{
  margin: 0rem 1rem 0rem 2rem;
  height: 1.5rem;
}

header p{
  font-size: 1rem;
  color: white;
  /*margin: 1rem 0rem;*/
}

nav{
  margin: 1rem 0rem 1rem auto;
}

li{
  display: inline;
  color: white;
  margin-right: 2rem;
}

.littleMenu{
  display: none;
}

#bannerMessage{
  display: inline-block;
  position: relative;
  top: 10rem;
  left: 2rem;
  float: right;
  background-color: white;
  padding: 1.5rem 5rem;
  font-weight: bold;
  font-size: 2rem;
  line-height: normal;
}

.gallery{
  display: flex;
  justify-content: center;
}

.galleryItem{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 3rem;
  width: 5rem;
  height: 8rem;
  text-align: center;
}

.galleryItem img{
  width: 5rem;
}

.galleryItem .paper{
  width: 3.5rem;
}

.informationSection{
  display: flex;
  margin-bottom: 4rem;
}

.infoBlock{
  position: relative;
  left: 10%;
  display: flex;
  flex-direction: column;
  width: 35%;
  margin-right: 5%;
}

.infoTitle{
  width: 10rem;
  background-color: cadetblue;
  font-weight: bold;
  font-size: 1rem;
  color: white;
  padding: 0.5rem 1.25rem;
}

.info{
  padding-top: 1rem;
  line-height: normal;
}

#footer{
  background-color: azure;
  display: flex;
  align-items: center;
}

#footer img{
  margin: 4rem 1rem 4rem 3rem;
  height: 1.5rem;
}

@media only screen and (max-width: 1024px) {
  #topBanner > div{
    position: static;
    
  }

  .siteContainer{
    width: 100%;
    margin; 0;
  }

  header{
    position: fixed;
    z-index: 5;
  }

  #topBanner{
    height: 22rem;
  }

  #topBanner > div{
    top: 4rem;
  }

  #bannerMessage{
    top: 5rem;
    left: 0rem;
    margin-right: 2rem;
    padding: 0.75rem 4rem;
    font-size: 1.33rem;
  }

  .informationSection{
    padding: 0;
  }
}

@media only screen and (max-width: 640px){
  .menu{
    display: none;
  }

  .littleMenu{
    display: block;
  }

  header p{
    display: none;
  }

  #topBanner{
    height: 17rem;
  }

  #bannerMessage{
    display: block;
    text-align: center;
    margin: 0;
    top: 9rem;
    width: 100%;
    padding: 1rem 0;
    font-size: 1rem;
  }

  #topBanner{
    background-position: 20%;
  }

  .gallery{
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin: 3.77rem 0;
  }

  .galleryItem{
    margin: 0;
    margin-top: 1.54;
    justify-content: space-around;
  }

  .galleryItem p{
    font-size: 0.77rem;
  }

  .informationSection{
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .infoBlock{
    width: 100%;
    position: static;
    margin: 0;
  }

  .infoTitle{
    width: 100%;
    text-align: center;
    padding: 0.5rem 0;
  }

  .info{
    margin-bottom: 4rem;
  }

  #footer p{
    display: none;
  }

  #footer{
    justify-content: center;
  }
}
