html{
  font-size: 18px;
  font-family: Helvetica;
}

.siteContainer{
  width: 960px;
  margin: 0px auto;
}

#topBanner{
  background-image: url("../images/glasses-bg.png");
  background-size: cover;
  height: 30rem;
  width: 100%;
}

#topBanner > div{
  position: relative;
  top: 1rem;
}

header{
  background-color: cadetblue;
  width: 100%;
  display: flex;
  align-items: center;
}

header img{
  margin: 0rem 1rem 0rem 2rem;
  height: 1.5rem;
}

header p{
  font-size: 1rem;
  color: white;
  margin: 1rem 0rem;
}

nav{
  margin-left: auto;
}

li{
  display: inline;
  color: white;
  margin-right: 2rem;
}

#bannerMessage{
  display: inline-block;
  position: relative;
  top: 10rem;
  left: 2rem;
  float: right;
}

#bannerMessage p{
  padding: 1.5rem 5rem;
  background-color: white;
  font-weight: bold;
  font-size: 2rem;
}

.gallery{
  display: flex;
  justify-content: center;
}

.galleryItem{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 3rem;
  width: 5rem;
  height: 8rem;
  text-align: center;
}

.galleryItem img{
  width: 5rem;
}

.galleryItem .paper{
  width: 3.5rem;
}

.informationSection{
  display: flex;
  padding-left: 5%;
}

.infoBlock{
  display: flex;
  flex-direction: column;
  width: 35%;
  margin: 0rem 0 4rem 5%;
}

.infoTitle{
  width: 10rem;
  background-color: cadetblue;
  font-weight: bold;
  font-size: 1rem;
  color: white;
  padding: 0.5rem 1.25rem;
}

.info{
  padding-top: 1rem;
  line-height: normal;
}

#footer{
  background-color: azure;
  display: flex;
  align-items: center;
}

#footer img{
  margin: 4rem 1rem 4rem 3rem;
  height: 1.5rem;
}
