h1, h2, h3, p, .pricing{
  font-family: Helvetica;
}

h1, h2, h3, .pricing{
  font-weight: bold;
}

.pricing{
  color: blue;
}
.subheading{
  font-size: 32px;
  color: white;
}

#title{
  background-image: url("../images/pattern.jpeg");
}

#title h1{
  font-size: 100px;
  color: khaki;
  text-align: center;
}

#brushes h2{
  background-color: mediumspringgreen;
}

#frames h2{
  background-color: lightcoral;
}

#paint h2{
  background-color: skyblue;
}
